<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="log" connectionString="server=labajadita2.ddns.net; database=users_reports; Uid=bryan; pwd=nomanches; Connection Timeout=500;"/>
    <add name="marcos" connectionString="server=labajadita2.ddns.net; database=datos; Uid=bryan; pwd=nomanches; Connection Timeout=500;"/>
    <add name="empresa" connectionString="server=auxiliar; database=la_bajadita; Uid=root; pwd=datos; Connection Timeout=500;"/>
    <add name="servidor" connectionString="server=192.168.1.200; database=la_bajadita; Uid=root; pwd=datos; Connection Timeout=500;"></add>
    <add name="antes" connectionString="server=192.168.1.200; database=la_bajadita_antes; Uid=root; pwd=datos; Connection Timeout=500;"></add>
  </connectionStrings>
</configuration>