<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="log" connectionString="server=labajadita2.ddns.net; database=users_reports; Uid=bryan; pwd=nomanches; Connection Timeout=500;"/>
    <add name="marcos" connectionString="server=labajadita2.ddns.net; database=datos; Uid=bryan; pwd=nomanches; Connection Timeout=500;"/>
    <add name="empresa" connectionString="server=labajadita1.ddns.net; Port=3307; database=la_bajadita; Uid=root; pwd=datos; Connection Timeout=500;"/>
    <add name="servidor" connectionString="server=labajadita1.ddns.net; database=la_bajadita; Port=3306; Uid=root; pwd=datos; Connection Timeout=500;"></add>
    <add name="antes" connectionString="server=labajadita1.ddns.net; port=3307; database=la_bajadita_antes; Uid=root; pwd=datos; Connection Timeout=500;"></add>

    <add name="labajadita2" connectionString="server=labajadita2.ddns.net; database=datos; Uid=bryan; pwd=nomanches; Connection Timeout=500;"/>
    <add name="labajadita1" connectionString="server=labajadita1.ddns.net; Port=3306; database=la_bajadita; Uid=root; pwd=datos; Connection Timeout=500;"></add>


    <add name="pruebas" connectionString="server=localhost; database=la_bajadita; Uid=root; pwd=datos; Connection Timeout=500;"></add>

  </connectionStrings>
</configuration>