<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.Cells" version="24.6.0" targetFramework="net472" />
  <package id="BouncyCastle" version="1.8.9" targetFramework="net472" />
  <package id="BouncyCastle.Cryptography" version="2.4.0" targetFramework="net472" />
  <package id="iTextSharp" version="5.5.13.4" targetFramework="net472" />
  <package id="Spire.PDF" version="10.6.25" targetFramework="net472" />
  <package id="Spire.PDFViewer" version="7.12.14" targetFramework="net472" />
  <package id="System.Configuration.ConfigurationManager" version="8.0.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.WindowsRuntime" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.WindowsRuntime" version="4.7.0" targetFramework="net472" />
  <package id="System.Runtime.WindowsRuntime.UI.Xaml" version="4.7.0" targetFramework="net472" />
</packages>